.App {
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
  position: relative;
  /* margin-top: 10%; */
  overscroll-behavior: none;
  padding: 10% 0 ;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/004/968/002/small/cute-abstract-modern-background-free-vector.jpg);
}


.icon{
  font-size: 80px;
  background-color: transparent;
  color: red;
  
}

.container{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 15%;
  margin-right: 15%;
}

.blockContent{
  background: #fff;
  height: 30vh;
  border-radius: 20px;
  border: 3px solid #000;
}

.nhietDo{
  font-size: 30px;
  padding: 5px;
}

.iconContent{
  display: flex;
  flex-direction: column;
}

.bellButton{
  padding: 10px 15px;
  border-radius: 40%;
  border: 0px solid transparent;
  cursor: pointer;
  background-color: red;
  color: #fff;
}

.iconBell{
  font-size: 100px;
  padding: 20px;
  color: yellow;
}

.iconLight{
  font-size: 100px;
  padding: 10px;
  color: yellow;
}

.lightButton{
  padding: 10px 20px;
  border-radius: 20%;
  border: 0px solid transparent;
  cursor: pointer;
  background-color: red;
  color: #fff;
  margin: 0 30px;
}